/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

// Islombek
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Jost", "DM Serif Display";
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}
