header {
    position: absolute;
    height: 62px;
    left: 8.33%;
    right: 8.33%;
    top: 26px;
}

.header__logo {
    position: absolute;
    height: 50px;
    margin-left: 0%;
    margin-right: 85.25%;
    top: calc(50% - 50px/2 - 6px);
    border-radius: 0px;
}

.header__right-list {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 62px;
    left: 55.17%;
    right: 0%;
    top: 0px;
}

.header__right-items {
    font-family: 'jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.header__right-items:hover {
    color: #CDA274;
}

.header__right-items:active {
    color: #a15503;
}

.active {
    color: #CDA274;
}