.hero {
    background-image: url(./../../Images/hero.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 330px 0 435px;
    margin-bottom: 100px;
    border-radius: 0 0 0 290px;
}

.hero__wrapper {
    max-width: 600px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.hero__heading {
    width: 500px;
    margin: 0;
    font-family: $DM;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
}

.hero__text {
    font-family: 'jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
    margin-bottom: 35px;
}

.button {
    position: relative;
    text-decoration: none;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.72px;
    color: #FFF;
    background-color: #292F36;
    padding: 22px 78px 22px 34px;
    border-radius: 18px;
    text-transform: capitalize;
}

.button:hover {
    background-color: transparent;
}